:root {
    --color-a: #434455;
    --color-logo: #4d5ae5;
    --color-logo-studio: #2e2f42;
    --color-logo-studio-footer: #f4f4f4fd;
    --color-hover: #404bbf;
    --color-team-bg: #F4F4FD;

}
* {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-a);
    background-color: #FFFFFF;
}

img {
    display: block;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  ::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

/* header stuff */

.header-flexbox-styling {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-div-flexbox-styling {
    display: flex;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav-flexbox-styling {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-logo);

    margin-right: 76px;
}

.link {
    text-decoration: none;
}

.logo-studio {
    color: var(--color-logo-studio);
}

.list {
    list-style: none;

    display: flex;
    gap: 24px;
}

.header-menu-flexbox-styling {
    display: flex;
    gap: 40px;
}

.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-logo-studio);

    position: relative;
    padding: 24px 0;
    color: #404bbf;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list .link:hover,
.list .link:focus {
  color: var(--color-hover);
}

.address-info {
    font-style: normal;
}

.address-details {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-a);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* hero section */

.hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/imgame-name.jpeg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
}

.hero-section-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

    max-width: 496px;
}

.button {
    background-color: var(--color-logo);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;

    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: var(--color-hover);
}

/* second section */

.second-section {
    padding: 120px 0;
}

.second-section-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-logo-studio);

    margin-bottom: 8px;
}

.list-para {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-a);
}

.second-section-list-element {
    width: 100%;
    min-width: 264px;
} 

/* third section */

.third-section {
    padding-bottom: 120px;
}

.mission-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-logo-studio);

    margin-bottom: 72px;
}

.third-section-list-element {
    flex-basis: calc((100% - 48px) / 3);
}

/* fourth section */

.team-section {
    background-color: var(--color-team-bg);

    padding: 120px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-logo-studio);

    margin-bottom: 72px;
}

.list-element {
    background-color: #FFFFFFFF;

    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-media-list-icon {
    width: 40px;
    height: 40px;
}

.social-media-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-list-link:hover,
.social-media-list-link:focus {
    background-color: #404bbf;
}

.social-media-svg {
    fill: #f4f4fd;
}

.worker {
    padding: 32px 0;
}

.list-title-worker {
    text-align: center;
    margin-bottom: 8px;
}

.list-para-worker {
    text-align: center;
}

/* customers - fifth section */

.customers-section {
    padding: 120px 0;
}

.customers-section-title {
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 72px;
}

.customers-section-list {
    margin-top: 72px;
    display: flex;
    gap: 24px;
    padding: 0;
}

.customers-section-list-element {
    flex-basis: calc((100% - 120px) / 6);
    height: 88px;
    width: 168px;
}

.customers-section-list-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-section-list-link:hover,
.customers-section-list-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.customer-section-logo {
    fill: currentColor;
}

/* footer section */

.footer {
    background-color: var(--color-logo-studio);
    padding: 100px 0;
}

.logo-studio-footer {
    color: #F4F4FD;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;

    max-width: 264px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-flexbox-styling {
    display: flex;
    align-items: baseline;
}

.footer-logo-and-paragraph {
    margin-right: 120px;
}

.footer-social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-media-list {
    display: flex;
    gap: 16px;
}

.footer-social-media-list-icon {
    width: 40px;
    height: 40px;
}

.footer-social-media-list-icon > .social-media-list-link:hover,
.footer-social-media-list-icon > .social-media-list-link:focus {
    background-color: #31d0aa;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio section */

.port-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;

    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;

}

.port-button:hover,
.port-button:focus {
    color: #FFFFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.port-section-flexbox-styling {
    padding-top: 96px;
    padding-bottom: 120px;
}

.port-button-list {
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.port-main-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.port-main-list-element {
    flex-basis: calc((100% - 48px) / 3);
}

.port-main-list-element > .link {
    display: block;
}

.port-main-list-element > .link:hover,
.port-main-list-element > .link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port-list-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.list-title-port {
    margin-bottom: 8px;
}
